# Hello world

In [1]:
print("Hello World")

Hello World

In [2]:
print("I am going to the market")

I am going to the market

In [3]:
"Hello there"

'Hello there'

In [4]:
4

4

# Variables

A <b>Python variable</b> is a reserved memory location to store values.

Every value in Python has a datatype. 
Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, etc. 
Variables can be declared by any name or even alphabets like a, aa, abc, etc.

In [5]:
a = "hello world"

In [6]:
print(a)

hello world

In [7]:
b = 4

In [8]:
b

4

In [9]:
c = 5
c

5

In [10]:
d = "Awesome people"
d

'Awesome people'

# Numerical Operations

<b>+ Addition</b> 	Adds values on either side of the operator.	a + b = 30 <br/>
<b>- Subtraction</b>	Subtracts right hand operand from left hand operand.	a – b = -10 <br/>
<b>* Multiplication</b>	Multiplies values on either side of the operator	a * b = 200 <br/>
<b>/ Division</b>	Divides left hand operand by right hand operand	b / a = 2 <br/>
<b>% Modulus</b>	Divides left hand operand by right hand operand and returns remainder	b % a = 0 <br/>
<b>** Exponent</b>	Performs exponential (power) calculation on operators	a**b =10 to the power 20 <br/>
<b>//	Floor Division</b> - The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) −	9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0

Data types:
    Strings
    Integers
    Float

In [11]:
x = 10

In [12]:
y = 20

## Addition

In [13]:
x + y

30

In [14]:
addition = x + y

print(addition)

30

In [15]:
10+20

30

## Subtraction

In [16]:
x - y

-10

In [17]:
substraction = x - y

print(substraction)

-10

In [18]:
10%3

1

In [19]:
10 - 20

-10

## multiplication

In [20]:
x*y

200

In [21]:
multiplication = x*y

print(multiplication)

200

## Division

In [22]:
x/y

0.5

In [23]:
division = x/y

print(division)

0.5

## Modulus

In [24]:
x%y

10

In [25]:
modulus = x%y

print(modulus)

10

In [26]:
10%20

10

In [27]:
4.5/3

1.5

# Python Comparison Operators

<b>==</b>	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true. <br />
<b>!=</b>	If values of two operands are not equal, then condition becomes true.	(a != b) is true. <br />
<b><></b>	If values of two operands are not equal, then condition becomes true.	(a <> b) is true. This is similar to != operator.  <br />
<b>></b>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.  <br />
    <b><</b>	If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true. <br />
        <b>>=</b>	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true. <br />
        <b><=</b>	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true. <br />

In [28]:
6 == 6

True

In [29]:
6 > 10

False

In [30]:
# Boolean operations
True
False

False

In [31]:
a = 3

In [32]:
b = 5

In [33]:
a < b

True

In [34]:
a < b

True

In [35]:
a == b

False

In [36]:
a != b

True

In [37]:
type(1)

int

In [ ]:
type(1.0)

float

In [ ]:
a = "boy"
b = "girl"

In [ ]:
a == b

In [ ]:
b == b

In [ ]:
"boy" > "aeroplane"

In [ ]:
"boy" > "elephant"

# String operation

In [ ]:
e = "Hello"

In [ ]:
f = "World"

In [ ]:
e + f

In [ ]:
e + " " + f

In [ ]:
g = e + " " + f

In [ ]:
len(g)

3

# Calculator assignment 1

In [ ]:
x = 2
y = 3

In [ ]:
x+y

In [ ]:
x-y

In [ ]:
x*y

In [ ]:
x/y

In [27]:

x = input("Enter your bill amount: ")
y = input("How many people are sharing the bill? ")
price = float(x) / float(y)

text = "Thanks, " + "each of you will pay " + "${}"
print(text.format(price))

Enter your bill amount: 200
How many people are sharing the bill? 4
Thanks, each of you will pay $50.0

# using inputs

In [1]:
input1 = input(7)

77

In [2]:
input2 = input(5.9098789)

5.90987895

In [3]:
input1

'7'

In [4]:
input2

'5'

In [5]:
type(input2)

str

In [6]:
input1+input2

'75'

In [7]:
int(input1)+float(input2)

12.0

In [8]:
import floor
floor(64.19889889)

ModuleNotFoundError: No module named 'floor'

# assignment 2

In [10]:
x = input("Enter your bill amount: ")

y = input("How many people are sharing the bill? ")

price = float(x) / float(y)

text = "Thanks, " + "each of you will pay " + "${}"

print(text.format(price))

Enter your bill amount: 500
How many people are sharing the bill? 4
Thanks, each of you will pay $125.0