# Pandas

How do you work with tabular data in python? E.g., things that you would usually find in an Excel sheet or a database.

Enter pandas üêº

In [ ]:
import pandas as pd
import numpy as np

### The DataFrame

The DataFrame is the core object in pandas. As the name implies, it is a "frame" of data, e.g. a table. It has columns with names and rows with indices. It integrates well with numpy and has tons of great data analysis features.

#### creating a data frame

In [22]:
df = pd.DataFrame(columns=['one','two','three'])

In [3]:
df

Empty DataFrame
Columns: [one, two, three]
Index: []

In [23]:
data = {'one': np.ones(10),
        'two': ['hello','world']*5,
        'three': [0,1,2,3,4,5,6,7,8,9]}
df = pd.DataFrame(data)

In [5]:
df

   one    two  three
0  1.0  hello      0
1  1.0  world      1
2  1.0  hello      2
3  1.0  world      3
4  1.0  hello      4
5  1.0  world      5
6  1.0  hello      6
7  1.0  world      7
8  1.0  hello      8
9  1.0  world      9

In [24]:
data = {'one': np.ones(10),
        'two': ['hello','world']*5,
        'three': [0,1,2,3,4,5,6,7,8,9]}
df = pd.DataFrame(data, columns=['one','two','three']) # or use an ImmutableDict

In [7]:
df.shape

(10, 3)

In [8]:
df.columns

Index(['one', 'two', 'three'], dtype='object')

In [9]:
df.head()

   one    two  three
0  1.0  hello      0
1  1.0  world      1
2  1.0  hello      2
3  1.0  world      3
4  1.0  hello      4

In [10]:
df.tail()

   one    two  three
5  1.0  world      5
6  1.0  hello      6
7  1.0  world      7
8  1.0  hello      8
9  1.0  world      9

In [11]:
df.dtypes

one      float64
two       object
three      int64
dtype: object

#### accessing data

In [12]:
df['one']

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: one, dtype: float64

In [13]:
df.one # same as df['one']

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: one, dtype: float64

In [14]:
df.iloc[0]

one          1
two      hello
three        0
Name: 0, dtype: object

In [15]:
df.iloc[:5]

   one    two  three
0  1.0  hello      0
1  1.0  world      1
2  1.0  hello      2
3  1.0  world      3
4  1.0  hello      4

In [16]:
df['two'].iloc[:5].values

array(['hello', 'world', 'hello', 'world', 'hello'], dtype=object)

In [17]:
df[df['three'] > 5]

   one    two  three
6  1.0  hello      6
7  1.0  world      7
8  1.0  hello      8
9  1.0  world      9

In [18]:
df[(df['three'] > 5) & (df['two'] == 'hello')]

   one    two  three
6  1.0  hello      6
8  1.0  hello      8

In [19]:
for ii, row in df.iterrows():
    print('row number {}'.format(ii))
    print(row)
    print('-----------\n')

row number 0
one          1
two      hello
three        0
Name: 0, dtype: object
-----------

row number 1
one          1
two      world
three        1
Name: 1, dtype: object
-----------

row number 2
one          1
two      hello
three        2
Name: 2, dtype: object
-----------

row number 3
one          1
two      world
three        3
Name: 3, dtype: object
-----------

row number 4
one          1
two      hello
three        4
Name: 4, dtype: object
-----------

row number 5
one          1
two      world
three        5
Name: 5, dtype: object
-----------

row number 6
one          1
two      hello
three        6
Name: 6, dtype: object
-----------

row number 7
one          1
two      world
three        7
Name: 7, dtype: object
-----------

row number 8
one          1
two      hello
three        8
Name: 8, dtype: object
-----------

row number 9
one          1
two      world
three        9
Name: 9, dtype: object
-----------

#### applying a function to a column

In [20]:
df['three'].apply(lambda x: x*2)

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
Name: three, dtype: int64

### Loading data

Pandas has a lot of ways to load useful data, from text files, csv, excel, even remote SQL databases. However, we'll focus on reading data from a CSV.

In [21]:
df = pd.read_csv('../data/Food_Inspections_-_LIVES_Standard.csv')

FileNotFoundError: File b'../data/Food_Inspections_-_LIVES_Standard.csv' does not exist

You can read excel files using:

```python
df = pd.read_excel('/PATH/TO/data.xlsx')
```

In [ ]:
df.head()

In [ ]:
df = pd.read_csv('../data/Food_Inspections_-_LIVES_Standard.csv', header=2)

In [ ]:
df.head(10)

### Exploring data

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include=[np.object])

In [ ]:
df.describe(include='all')

In [ ]:
df['business_postal_code'].value_counts(dropna=False)

In [ ]:
df[df['business_postal_code'] == 'CA']

In [ ]:
df[df['business_postal_code'] == 'Ca']

### Imputing data

Data imputation is the term used to describe replacing or removing missing data values. You have two options:

1. Drop the row (or entire column!)
2. Replace the missing value

There is no one-size-fits-all approach to data imputation. Sometimes it's better to just remove the row. If a column has a lot of NaN values, it may be a good idea to drop if, especially if it's not a useful column.

If you want to replace the value, you have a few options:
1. Replace with a static value, e.g. the mean, median, or mode
2. Replace with the previous (or next) valid value
3. Interpolate between values.

Again, there is no one way to do this. It's important to think about what the data is and what makes the most sense for imputing.

In [ ]:
df = pd.DataFrame(np.random.randn(10, 3), columns=['one', 'two', 'three'])

In [ ]:
df

In [ ]:
df[df<0] = np.nan

In [ ]:
df

#### drop rows with na

In [ ]:
df.dropna()

#### replace with constant value

In [ ]:
df.fillna(0)
# use fillna(value, inplace=True) to have it modify the dataframe. Otherwise, assign it to a new dataframe
# e.g. df2 = df.fillna(0) or overwrite the dataframe as df = df.fillna(0)

#### replace with mean value

In [ ]:
df['three'].fillna(df['three'].mean())

#### replace with previous or following values

In [ ]:
df.fillna(method='pad')

In [ ]:
df.fillna(method='bfill')

#### Interpolate

I could spend an entire course on interpolation, but let's just use a simple linear interpolation.

In [ ]:
s = pd.Series([0, 1, np.nan, 3])
# note that a Series is the same thing as a column of a dataframe

In [ ]:
s.interpolate()

In [ ]:
s = pd.Series([0, 1, np.nan, np.nan, 3])

In [ ]:
s.interpolate()

### Working with dates

In [ ]:
df = pd.read_csv('/Trestle/TGF/Trestle_Academy/data/Food_Inspections_-_LIVES_Standard.csv', header=2)

In [ ]:
df['inspection_date'].head(10)

In [ ]:
df['inspection_date'] = pd.to_datetime(df['inspection_date'], format='%m/%d/%y %H:%M')
# formatting types:
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
df.head(10)

### Group by

The groupby method allows you to look at statistics via other variables.

For example, let's look at the average inspection score per zip code.

In [ ]:
df.groupby(['business_postal_code'])['inspection_score'].mean()

In [ ]:
df[df['business_postal_code'] == '94188']

In [ ]:
# group by multiple columns
df.groupby(['business_postal_code', 'inspection_type'])['inspection_score'].mean()

### Changing the index and re-sampling

Re-sampling is often used to standardize the data over a range. Let's look at how the inspection score varies on a daily basis. (Ignoring that this is probably not a useful measurement.)

In [ ]:
df_scores = df[['inspection_date', 'inspection_score']]

In [ ]:
df_scores.head(10)

In [ ]:
# first, let's sort by date
df_scores.sort_values('inspection_date', inplace=True)

In [ ]:
df_scores.head(10)

In [ ]:
# now let's re-index the dataframe by each day. We'll take the average score for each day as the new value.
df_scores_re = df_scores.set_index('inspection_date')

In [ ]:
df_scores_re.head(10)

In [ ]:
df_scores_re = df_scores_re.resample('D').mean()

In [ ]:
df_scores_re.head(20)

### Save to CSV

In [ ]:
# df.to_csv('path/to/file.csv')

In [ ]:
import time
start_time = input("Hello Nana, enter your current start time in format MMYY HHMM: \n")
print ("you started your task on: ",start_time)

In [25]:
end_time = input("Please enter your current end time in format MMYY HHMM: \n")
print ("you ended your task on ", end_time)

Please enter your current end time in format MMYY HHMM:
0820 0410
you ended your task on  0820 0410

In [18]:
import datetime
now = datetime.datetime.now()

f= open("hours_worked.txt","w")
start_time = input("Hi Nana, enter current time to clock-in using 24hr HH.MM format : \n")
print ("You clocked in at \n", now.strftime("%Y-%m-%d %H:%M:%S"))
f = open("hours_worked.txt", "a")

end_time = input ("Hi Nana, enter current time to clockout using 24hr HH.MM format : \n")
print ("You clocked out at \n", now.strftime("%Y-%m-%d %H:%M:%S"))
f = open("hours_worked.txt", "a")



wages = (float(end_time) - float(start_time)) * 5
text = ("You have earned : " + "${:.2f}" + " this period")
print(text.format(wages))
f = open("hours_worked.txt", "a")

Hi Nana, enter current time to clock-in using 24hr HH.MM format :
13.31
You clocked in at
 2020-05-15 13:31:11
Hi Nana, enter current time to clockout using 24hr HH.MM format :
18.55
You clocked out at
 2020-05-15 13:31:11
You have earned : $26.20 this period